.ButtonMain {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(242 139 99 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.Button {
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border: 1px solid rgb(242 139 99 / var(--tw-bg-opacity));
  color: rgb(242 139 99 / var(--tw-bg-opacity));
}

.MethodologyGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "methodElem1 methodElem2"
    "methodImg methodElem3"
    "methodImg methodElem4";
  gap: 20px; /* Пространство между элементами */
  padding: 20px; /* Внешний отступ для всей сетки */
}

.MethodologyElement {
  --tw-bg-opacity: 1;
  background-color: rgb(41 41 41 / var(--tw-bg-opacity));
  border-radius: 1.5rem;
  padding: 2.5rem;
  min-height: 424px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: methodElem;
}

.MethodologyTextElement {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.MethodologyMainText {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.MethodologyAdditionalText {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.MethodologyImg {
  grid-area: methodImg;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  object-fit: cover;
}

.MethodologyElement:nth-child(1) {
  grid-area: methodElem1;
}
.MethodologyElement:nth-child(2) {
  grid-area: methodElem2;
  background-color: #f28b63;
  color: black;
}
.MethodologyElement:nth-child(3) {
  grid-area: methodElem3;
}
.MethodologyElement:nth-child(4) {
  grid-area: methodElem4;
}

.SessionBlock {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "sesElem1 sesImg1"
    "sesElem2 sesImg1";
}

.SessionElement {
  border-radius: 24px;
}

.SessionElement:nth-child(1) {
  grid-area: sesElem1;
}

.SessionElement:nth-child(2) {
  grid-area: sesElem2;
}

.SessionImg {
  grid-area: sesImg1;
}

.Session2Block {
  display: grid;
  gap: 20px;
  grid-template-areas:
    " ses2Img1 ses2Elem1"
    " ses2Img1 ses2Elem2";
}

.Session2Element {
  border-radius: 24px;
}

.Session2Element:nth-child(1) {
  grid-area: ses2Elem1;
}

.Session2Element:nth-child(2) {
  grid-area: ses2Elem2;
}

.Session2Img {
  grid-area: ses2Img1;
}

.AboutMeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.TestimonalsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "logo navbar info"
    "year navbar info";
}

.footer_year {
  grid-area: year;
}
.footer_logo {
  grid-area: logo;
}

.footer_wrapper {
  grid-area: wrapper;
}

.footer_nav {
  grid-area: navbar;
}

.footer_info {
  grid-area: info;
}

/* Мобильные устройства в портретной ориентации (до 576px) */
@media not all and (min-width: 640px) {
  .MethodologyGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "methodElem1 "
      "methodElem2 "
      "methodElem3 "
      "methodElem4";
    gap: 20px;
    padding: 20px;
  }

  .MethodologyElement {
    min-height: 360px;
  }

  .SessionBlock {
    grid-template-columns: 1fr;
    grid-template-areas:
      "sesElem1"
      "sesElem2";
  }
  .Session2Block {
    grid-template-columns: 1fr;
    grid-template-areas:
      "ses2Elem1"
      "ses2Elem2";
  }

  .SessionElement {
    flex-direction: column;
    text-align: left;
  }

  .Session2Element {
    flex-direction: column;
    text-align: left;
  }

  .ButtonSession {
    margin-top: 30px;
  }

  .MethodologyImg {
    display: none;
    visibility: hidden;
  }
  .SessionImg {
    display: none;
    visibility: hidden;
  }

  .Session2Img {
    display: none;
    visibility: hidden;
  }
  .MethodologyMainText {
    font-size: 24px;
    line-height: 24px;
  }
  .MethodologyAdditionalText {
    font-size: 16px;
    line-height: 21.6px;
  }
  .AboutMeGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .MapGrid {
    position: none;
    display: flex;
    grid-template-columns: 1fr;
  }

  .MapGridBlock {
    position: none;
  }
  .TestimonalsGrid {
    grid-template-columns: 1fr;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
      "logo info"
      "navbar info"
      "year info";
  }
}

/* Мобильные устройства в ландшафтной ориентации (от 576px до 767px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  /* Стили для маленьких экранов */
}

/* Планшеты (от 768px до 991px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Стили для планшетов */
}

/* Ноутбуки и небольшие экраны (от 992px до 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* Стили для ноутбуков */
}

/* Десктопы (от 1200px и выше) */
@media only screen and (min-width: 1200px) {
  /* Стили для больших экранов */
}
